<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- forgot password  -->
    <!-- ============================================================== -->
    <!-- <div class="splash-container">
        <div class="card">
            <div class="card-header text-center"><img class="logo-img" src="../assets/images/logo.png" alt="logo"><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form>
                    <p>Don't worry, we'll send you an email to reset your password.</p>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="Your Email" autocomplete="off">
                    </div>
                    <div class="form-group pt-1"><a class="btn btn-block btn-primary btn-xl" href="../index.html">Reset Password</a></div>
                </form>
            </div>
            <div class="card-footer text-center">
                <span>Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span>
            </div>
        </div>
    </div> -->

<!-- test -->
<div class="row" style="margin-top:100px;">
        <div class="col-md-4 col-md-offset-4"></div>
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <center><h3 class="panel-title" style="color:white;">Please fill in your details here </h3></center>
                </div>
                <div class="panel-body">
                    <form method="post" action="/register/">{% csrf_token %}
                        <p class="bs-component">
                            <table class="radii">
                                <tbody style="color:white;">
                                {% csrf_token %}
                                {{form.as_table}}

                                </tbody>
                            </table>
                        </p>	
                        <p class="bs-component">
                        <center>
                            <form method="POST" action="/reset/done/">
                                {% csrf_token %}<input class="btn btn-success confirm-delete2" type="submit" value="Reset">
                            </form>
                        </center>
                        </p>
                        <input type="hidden" name="next" value="{{ next }}"/>

                    </form>
                    <div class="text-center">
      <a class="btn dorne-btn dorne-btn1 d-block small mt-3" href="/password_reset/">Forgot your password?</a><br>
      
      <a class="btn dorne-btn dorne-btn1 d-block small" href="/accounts/login/">Login here</a>
    </div>
                </div>
            </div>
        </div>

<div class="col-md-4 col-md-offset-4"></div>

    </div>
<!-- test -->

    <!-- ============================================================== -->
    <!-- end forgot password  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

 
</html>