<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

    <!-- Title -->
    <title>Sign In</title>

    <!-- Favicon -->
    {% load staticfiles %}
    <link rel="icon" href="{% static 'a/img/core-img/favicon.ico' %}?{% now "U" %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'a/style.css' %}?{% now "U" %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'a/css/responsive/responsive.css' %}?{% now "U" %}">
    <style type="text/css">
    
      #id_email{
        width:100%!important;
        padding: 5px;
        
      }
    </style>

</head>


<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BusinessCom</title>

    <!-- Scripts --
    {% load staticfiles %}
    <script src="{% static 'js/app.js' %}" defer></script>

    <!-- Fonts --
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Styles --
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <style type="text/css">


  #id_email{
    width:100%!important;
    padding: 5px;
    
  }
</style>
</head>
-->
<body>
    <div id="app">
        {% include "accounts/includes/navbar.html" %}
        <main class="">
<div>
    
       {% block content %}

        {% endblock %}
</div>

        </main>
 
    </div>
</body>
</html>
