<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Sign In or Register</title>

    <!-- Favicon -->
    {% load staticfiles %}
    <link rel="icon" href="{% static 'a/img/core-img/favicon.ico' %}?{% now "U" %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'a/style.css' %}?{% now "U" %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'a/css/responsive/responsive.css' %}?{% now "U" %}">
    <style type="text/css">
    
      #id_email{
        width:100%!important;
        padding: 5px;
        
      }
    </style>

</head>

<body>
    <div id="app">
        {% include "accounts/includes/navbar.html" %}
        <main class="">
<div>
    
       {% block content %}

        {% endblock %}
</div>

        </main>
 
    </div>
</body>
</html>
