{% extends 'registration/base.html' %}

{% block content %}
{% load staticfiles %}

<style> 

#navbar {

	transition: top 6000000s;
	style="color:white;"

}
</style>

    <!-- ***** Welcome Area Start ***** -->
    <section class="dorne-welcome-area bg-img bg-overlay bimg">
        
        <div class="container">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
            <p>
              We've sent you and email with instructions for resetting your password. You should receive it shortly.
            </p>
            <p>
              If you don't receive it, please check your spam folder and ensure you entered the address you registered with.
            </p>
              </div>
        <!-- Hero Social Btn -->
        <div class="hero-social-btn">
            <div class="social-title d-flex align-items-center">
                <h6>Follow us on Social Media</h6>
                <span></span>
            </div>
            <div class="social-btns">
                <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

{% endblock %}

{% block javascript %}
<script>setTimeout(function(){window.location.href="/accounts/login/"},5000);</script>
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}






