{% extends 'dashboard/pages/add-packagebase.html' %}
{% load static %}

{% block head %}
    {% load django_tables2 %}
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}?{% now "U" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}?{% now "U" %}">
    <link href="{% static 'vendor/fonts/circular-std/style.css' %}?{% now "U" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}?{% now "U" %}">
    <style>
            body {
                color: black;
                background-color: #efeff6;
            }
            a {
                color: blue;
            }
            </style>

    <!-- Libraries -->
    <script src="{% static 'libs/js/jquery-3.3.1.js' %}?{% now "U" %}"></script>
    <title>Approved Bookings</title>

<style>
    .paypal-button {
        width:200px; /* you can use % */
        height: auto;
    }
    .payppal-button:focus, input:focus{
    outline: none;
    }
    /* *:focus {
    outline: none;
    } */
    </style>

{% endblock %}

{% block content %}

            <div class="influence-finder">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <!-- <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Influencer Finder </h3>
                                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Influencer Finder Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->

          <!-- A Bootstrap Modal -->

                    {% if messages %}
                    {% for message in messages %}
                        <!-- modal -->
                        <div id="custom-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Error</h4>
                                    </div>
                                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    </div>
                  </div>
                </div>
              </div>
                       
                    {% endfor %}
                    {% endif %}
                    <!-- modal end -->
                    
                    <div class="row">


                                                              <!-- Table -->
                                                              <div class="card mb-3">
                                                                    <div class="card-header" style="color:green">
                                                                      <i class="fa fa-table"></i> Approved Bookings</div>
                                                                      <div class="card-body" id="space1">
                                                                        <form id="flight" action="/dashboard/bookings-filter/" method="POST">
                                                                          {% csrf_token %}
                                                                          <input type="text" name="search" id="bsearch" placeholder="Search...">
                                                                        <span style="margin-left: 25px;">
                                                                          <label>Start:</label>
                                                                        </span>
                                                                                <input type="datetime-local" name="start1"/>
                                                                            <label>End:</label>
                                                                                <input type="datetime-local" name="end1"/>
                                                                                <span style="margin-left: 10px;">
                                                                                <input class="btn btn-success btn-sm" type="submit" name="fil" value="Filter by Date Booked"/>
                                                                                </span>
        
                                                                           
                                                                        <!-- </form>
                                                                        <form method="POST" action="/deleteabooking/">{% csrf_token %} -->
                                                                          <input class="btn btn-danger btn-sm float-xl-right float-none" type="submit" name="del" value="Delete"/>
                                                                    </div>
                                                                      <div class="row" id="searchresults6">
                                                                      
      
                                                                        <div class="table-responsive">
                                                                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                                                                              <!-- <thead class="thead-dark">
                                                                                  </thead> -->
                                                                          <tbody>
                                                                           <!-- <tr><td> -->
                                                                                <!-- <form action="#" method="post">{% csrf_token%}
                                                                                  <input type="hidden" name="item_id"  value="{{item.id}}" />
                                                                         <input type="submit" class="btn btn-success navbar-btn" style="float: right;" value="Delete">
                                                                                </form> -->
                                                                          <!-- </td></tr> -->
                                                                          
                                                                            <tr><td>
                                                                              {% render_table b %}
                                                                            </td></tr>
                                                                          </form>
                                                                           
                                                                          </tbody>
                                                                          
                                                                        </table>
                                                                      </div>
                                                                    </div>
                                                                    <div class="card-footer ">
                                                                        <a class="small text-muted">Updated at {{ now }}</a>
                                                                      <div class="float-xl-right float-none mt-xl-0 mt-4" id="space2">
                                                                               <!-- Export table data -->
                                                                          {% load querystring from django_tables2 %}
                                                                          <a>Export Table as:</a>
                                                                          
                                                                              <a style="color:green;" href="{% export_url "csv" %}"><u>CSV</u></a>
                                                                              <a>;</a>
                                                                          
                                                                          <!-- <br> -->
                                                                          <!-- <span class="m-l-10"></span><span class="m-l-20"> -->
                                                                              <span style="margin-left: 5px;">
                                                                          <a style="color:green;" href="{% querystring '_export'='xls' %}"><u>XLS</u></a>
                                                                          </span>
                                                                          <!-- Export table data -->
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                        <!-- Table -->

                        <!-- ============================================================== -->
                        <!-- search bar  -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- end search bar  -->
                        <!-- ============================================================== -->
                       
                            <!-- ============================================================== -->
                            <!-- influencer sidebar  -->
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end influencer sidebar  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
{% endblock %}

{% block javascript %}
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}?{% now "U" %}"></script>
<!-- bootstap bundle js -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}?{% now "U" %}"></script>
<!-- slimscroll js -->
<script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}?{% now "U" %}"></script>
<!-- main js -->
<script src="{% static 'libs/js/main-js.js' %}?{% now "U" %}"></script>

<!-- Custom JS -->
<script src="{% static 'libs/js/othermiscjs.js' %}?{% now "U" %}"></script>
<script>
/* ----- JavaScript ----- */
$(function () {
  $("#custom-modal").modal("show");
});

/* Close the popup when the a selection is made */
$("#selectCity").on("change", function () {
  $("#custom-modal").modal("hide");
});
</script>
<script src="{% static 'libs/js/ajaxbookingssearch.js' %}?{% now "U" %}"></script>
{% endblock %}