{% extends 'dashboard/a-packagesbase.html' %}
{% load static %}

{% block head %}
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}?{% now "U" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}?{% now "U" %}">
    <link href="{% static 'vendor/fonts/circular-std/style.css' %}?{% now "U" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}?{% now "U" %}">
    <title>Unavailable Packages</title>
{% endblock %}

{% block content %}

            <div class="influence-finder">
                <div class="container-fluid dashboard-content">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        These packages are either <strong>expired</strong>, have <strong>no more slots</strong> or have <strong>available set to false</strong>.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <!-- <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Influencer Finder </h3>
                                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Influencer Finder Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <div>
                        <!-- ============================================================== -->
                        <!-- search bar  -->
                        <!-- ============================================================== -->
                        
                        <!-- ============================================================== -->
                        <!-- end search bar  -->
                        <!-- ============================================================== -->
                        <div id="searchresults2">

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                
                                              <!-- A Bootstrap Modal -->

                    {% if messages %}
                    {% for message in messages %}
                        <!-- modal -->
                        <div id="custom-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Error</h4>
                                    </div>
                                    <div class="modal-body">
                        {{ message }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
                    </div>
                  </div>
                </div>
              </div>
                       
                    {% endfor %}
                    {% endif %}
                    <!-- modal end -->
        
        
                                    <!-- ============================================================== -->
                                    <!-- card influencer one -->
                                    <!-- ============================================================== -->
                                    {% for p in a %}
        
                                    <div class="card text-white" style="background-color:rgb(100, 100, 100)">
                                            <div class="card-body">
                                                <div class="row align-items-center">
            
                                                    
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="user-avatar float-xl-left pr-4 float-none">
                                                            <img src="{% static 'images/avatar-1.jpg' %}?{% now "U" %}" alt="User Avatar" class="rounded-circle user-avatar-xl1">
                                                                </div>
                                                            <div class="pl-xl-3">
                                                                <div class="m-b-0">
                                                                    <div class="user-avatar-name d-inline-block">
                                                                        <h2 class="font-24 m-b-10 text-warning">{{p.p_name}}</h2>
                                                                        <h3 class="font-18 m-b-10 text-warning">{{p.d_name}}</h3>
        
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="user-avatar-address" style="color:yellow;">                                                       
                                                                <p class="mb-2">Offered by: {{p.p_agency}}<span class="m-l-10"></span><span class="m-l-20">Category: {{p.p_category}}</span></span>
                                                                </p>
                                                                <p class="mb-2 badge1 badge-light1">From: {{p.from_day}}<span class="m-l-10"></span><span class="m-l-20">Until: {{p.to_day}}</span><span class="m-l-20"></span>
                                                                </p>
                                                                <p class="mb-2" style="color:yellow;">Daily Price: KSh. {{p.pricep_adult}} per adult,<span class="m-l-20">KSh. {{p.pricep_kid}} per child</span><span class="m-l-20"> {{p.agency_email}} </span>
                                                                </p>
                                                                <span class="mb-2 badge1 badge-light1">Slots Available: {{p.p_slots}}</span><span class="m-l-10"></span><span class="m-l-20 badge1 badge-light1">Available: {{p.available}}</span><span class="m-l-20"></span><span class="m-l-10"></span><span class="m-l-20">Phone: {{p.agency_phone}}</span><span class="m-l-20"></span>
                                                            
                                                                <hr>
                                                                    <div class="mt-3 text-white">
                                                                        <p>
                                                                                {{p.p_description|linebreaks}}
                                                                        </p>
                                                                            
            
                                                                    </div>
                                                                        
            
                                                                        <!-- <a href="#" class="mr-1 badge badge-light">Fitness</a><a href="#" class="mr-1 badge badge-light">Life Style</a><a href="#" class="mr-1 badge badge-light">Gym</a><a href="#" class="badge badge-light">Crossfit</a> -->
                                                                    </div>
                                                                    <div class="product-qty" style="color:white;">
                                                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    
                                                                                    <div class="float-xl-right float-none mt-xl-0 mt-4">
                                                                                        <a class="btn btn-primary" href="/editpackage/{{p.pk}}/" role="button">Edit</a>

                                                                                    </div>
                                                                        </div>
                                                                        </div>
                                                                </div>
                                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                                    
                                                                        <div class="float-xl-right float-none mt-xl-0 mt-4">
                                                                                <form method="POST" action="/deletepackage/{{p.pk}}/">
                                                                                    {% csrf_token %}<input class="btn btn-danger confirm-delete1" type="submit" value="Delete">
                                                                            </form>
                                                                        </div>
                                                            </div>
                                                            
                                                        </div>
                                                          
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        {% endfor %}
                                        <!-- ============================================================== -->
                                        <!-- end card influencer one -->
                                        <!-- ============================================================== -->
        
        
                                    <!-- ============================================================== -->
        
                                        <!-- ============================================================== -->
                                        <!-- end card influencer one -->
                                        <!-- ============================================================== -->
                                        <!-- ============================================================== -->
                                
                                        <!-- ============================================================== -->
                                        <!-- end card influencer one -->
                                        <!-- ============================================================== -->
                                        <!-- ============================================================== -->
                                    <!-- card influencer one -->
                                    <!-- ============================================================== -->
                               
                                   
                                        <!-- ============================================================== -->
                                        <!-- end card influencer one -->
                                        <!-- ============================================================== -->
                                        
        
                                        <!-- ============================================================== -->
                                        <!-- end content -->
                                        <!-- ============================================================== -->
                                    </div>
                                    <!-- ============================================================== -->
                                    <!-- influencer sidebar  -->
                                    <!-- ============================================================== -->
        
                                    <!-- ============================================================== -->
                                    <!-- end influencer sidebar  -->
                                    <!-- ============================================================== -->
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- influencer sidebar  -->
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->
                            <!-- end influencer sidebar  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
{% endblock %}

{% block javascript %}
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}?{% now "U" %}"></script>
<!-- bootstap bundle js -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}?{% now "U" %}"></script>
<!-- slimscroll js -->
<script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}?{% now "U" %}"></script>
<!-- main js -->
<script src="{% static 'libs/js/main-js.js' %}?{% now "U" %}"></script>

<!-- Custom JS -->
<script src="{% static 'libs/js/ajaxapsearch.js' %}?{% now "U" %}"></script>
<script src="{% static 'libs/js/othermiscjs.js' %}?{% now "U" %}"></script>
{% endblock %}