<!doctype html>
<html lang="en">
{% load staticfiles %}

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}?{% now "U" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}?{% now "U" %}">
    <link href="{% static 'vendor/fonts/circular-std/style.css' %}?{% now "U" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}?{% now "U" %}">
    <!-- Libraries -->
    <script src="{% static 'libs/js/jquery-3.3.1.js' %}?{% now "U" %}"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" href="/explore/">Places<span class="sr-only">(current)</span></a>
                    <input class="form-control mr-sm-2 input-res" id="isearch" type="search" placeholder="Search..." aria-label="Search"> {% csrf_token %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <a class="nav-link ex1" href="/allpackages"><i class="fa fa-map-signs mr-2" style="color:white"></i>ALL PACKAGES</a>
                        </li>
                        
                      </ul>
                      <ul class="navbar-nav">
                            <li class="nav-item">
                                    <a class="nav-link ex1" href="/dashboard/to-do-trips"><i class="fas fa-tasks mr-2" style="color:white"></i>TO DO TRIPS</a>
                                </li>
                        <li class="nav-item">
                                <a class="nav-link ex1" style="color:white" href="/dashboard/profile/edit"><i class="fas fas fa-user mr-2"></i>{{user.first_name}} {{user.last_name}}</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link ex2" href="/logout/?next=/explore/"><i class="fas fa-power-off mr-2" style="color:white"></i>Logout</a>
                        </li>
                        </ul>
                    </div>
                  </nav>

<!-- Old Nav -->
<!-- <nav class="navbar navbar-expand-lg bg-white">
    <a class="navbar-brand" href="/explore/">Explore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item">
                <div id="custom-search" class="top-search-bar">
                    <input class="form-control" id="isearchfg" type="text" placeholder="Search.."> {% csrf_token %}
                </div>
            </li>

            <li class="nav-item">
                <div id="custom-search" class="top-search-bar">
                    <a class="dropdown-item" href="/allpackages"><i class="fa fa-map-signs mr-2"></i>All Packages</a>
                </div>
            </li>
            <li class="nav-item">
                    <div id="custom-search" class="top-search-bar">
                        <a class="nav-link" href="/dashboard/to-do-trips"><i class="fas fa-tasks mr-2"></i>To Do Trips</a>
                    </div>
                </li>

            <li class="nav-item">
                <div id="custom-search" class="top-search-bar">
                    <a class="dropdown-item" style="color:darkblue" href="/dashboard/profile/edit"><i class="fas fas fa-user mr-2"></i>{{user.first_name}} {{user.last_name}}</a>
                </div>
            </li>

            <li class="nav-item">
                <div id="custom-search" class="top-search-bar">
                    <a class="dropdown-item" href="/logout/?next=/explore/"><i class="fas fa-power-off mr-2"></i>Logout</a>
                </div>
            </li>

        </ul>
    </div>
</nav> -->
<!-- Old Nav -->
</div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/dashboard/to-do-trips" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fas fa-tasks"></i>To Do Trips<span class="badge badge-success">6</span></a>
                                
                            </li>
                            <li class="nav-item ">
                                    <a class="nav-link" href="/dashboard/pending-bookings/" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fas fa-clock"></i>Pending Bookings<span class="badge badge-success">6</span></a>
                                    
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/dashboard/bookings" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fas fa-location-arrow"></i>All Bookings<span class="badge badge-success">6</span></a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/payments" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa-fw fab fa-paypal"></i>Payment History</a>
                                
                            </li>

                            
                                                        
            
                            <li class="nav-divider">
                                Account
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/profile/edit" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fas fa-user-circle"></i> Edit Profile </a>
                                
                            </li>
                            
                            
                            
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">

<!-- Extend start -->
            {% block content %}

            {% endblock %}
<!-- Extend end -->

                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper  -->
            <!-- ============================================================== -->
            <!-- Optional JavaScript -->
            <!-- jquery 3.3.1 -->
            <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}?{% now "U" %}"></script>
            <!-- bootstap bundle js -->
            <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}?{% now "U" %}"></script>
            <!-- slimscroll js -->
            <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}?{% now "U" %}"></script>
            <!-- main js -->
            <script src="{% static 'libs/js/main-js.js' %}?{% now "U" %}"></script>

<!-- Custom JS for Bookings1 -->
<script src="{% static 'libs/js/othermiscjs.js' %}?{% now "U" %}"></script>
<script>
/* ----- JavaScript ----- */
$(function () {
  $("#custom-modal").modal("show");
});

/* Close the popup when the a selection is made */
$("#selectCity").on("change", function () {
  $("#custom-modal").modal("hide");
});
</script>

</body>
 
</html>