<!doctype html>
<html lang="en">
 
<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}?{% now "U" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}?{% now "U" %}">
    <!-- <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.css' %}?{% now "U" %}"> -->
    <link href="{% static 'vendor/fonts/circular-std/style.css' %}?{% now "U" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}?{% now "U" %}">
    <script src="{% static 'jquery-2.0.0.min.js' %}?{% now "U" %}"></script>
    <script src="{% static 'ajax.js' %}?{% now "U" %}"></script>
    <script src="{% static 'ajax2.js' %}?{% now "U" %}"></script>
    <script src="{% static 'ajax3.js' %}?{% now "U" %}"></script>
    <script src="{% static 'ajax4.js' %}?{% now "U" %}"></script>
  
    <title>Explore</title>
</head>

<style>
    
.dashboard-wrapper {
    margin-left: 0px;
}

.text {
  position: relative;
  font-size: 14px;
  color: #71748d;
  font-family: sans-serif;
  width: 250px; /* Could be anything you like. */
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.text:hover {
  color: #ff407b;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

</style>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/explore/">Explore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" id="isearch" type="text" placeholder="Search.."> {% csrf_token %}
                            </div>
                        </li>
                        <!-- <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'images/avatar-2.jpg' %}?{% now "U" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'images/avatar-3.jpg' %}?{% now "U" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'images/avatar-5.jpg' %}?{% now "U" %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/github.png' %}?{% now "U" %}" alt="" > <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/dribbble.png' %}?{% now "U" %}" alt="" > <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/dropbox.png' %}?{% now "U" %}" alt="" > <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/bitbucket.png' %}?{% now "U" %}" alt=""> <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/mail_chimp.png' %}?{% now "U" %}" alt="" ><span>Mail chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img src="{% static 'images/slack.png' %}?{% now "U" %}" alt="" > <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li> -->

                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <a class="dropdown-item" href="/allpackages"><i class="fa fa-map-signs mr-2"></i>All Packages</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <a class="dropdown-item" href="/dashboard/bookings"><i class="fas fa-list mr-2"></i>Bookings</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <a class="dropdown-item" style="color:darkblue" href="/dashboard/editprofile/"><i class="fas fas fa-user mr-2"></i>{{user.first_name}} {{user.last_name}}</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <a class="dropdown-item" href="/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">All Destinations</h2>
                                <p class="pageheader-text"></p>
                                <!-- <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">E-coommerce</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Concept - Bootstrap 4 Admin Dashboard Template</li>
                                        </ol>
                                    </nav>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                            <div class="row" id="searchresults">
                            <div class="row" id="search-results">
                               
                                
                                                       <!-- card masonary  -->
                        <!-- ============================================================== -->
                        <div class="row">
                                
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="row">
                                            
              
                                            
                                        {% for d in destination %}
                                            
                                        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <a href="/destination/{{d.pk}}/">
                                            <img class="card-img-top" src="{{ d.d_pic1.url }}" alt="Card image cap">
                                            <div class="card-body" style="background-color:white">
                                                <h3 class="card-title">{{d.d_name}}</h3>
                                                <hr>
                                                <p class="card-text">{{d.d_description|truncatechars:240}}</p>
                                            </div>
                                            <br>
                                        </a>
                                        </div>
                                    
                                           {% endfor%}                                 
                                                                               
                                                                                
                                        
                                    </div>
                            </div>
                        </div>
                            <!-- ============================================================== -->
                            <!-- end card masonary  -->
                                
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item active"><a class="page-link " href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="product-sidebar">
                                <div class="product-sidebar-widget">
                                    <h4 class="mb-0">Filter Destinations</h4>
                                </div>
                                <div class="product-sidebar-widget">
                                        <h4 class="product-sidebar-widget-title">Places</h4>
    
                                        <div class="dropdown" >
                                                <select id="cat-2" class="btn btn-primary form-control" style="color:white;">
                                                        <option value="">All</option>
                                                        <option value="Mombasa">Mombasa</option>
                                                        <option value="Kisumu">Kisumu</option>
                                                        <option value="Maasai Mara">Maasai Mara</option>
                                                        <option value="Mt. Kenya">Mt. Kenya</option>
                                                        <option value="Naivasha">Naivasha</option>
                                                        <option value="Nairobi">Nairobi</option>
                                                        <option value="Nakuru">Nakuru</option>
                                                        <option value="Tsavo">Tsavo</option>
                                                        </select>{% csrf_token %}
                                                      
                                                      
                                              </div>
                                        
                                    </div>
                                <!-- <div class="product-sidebar-widget">
                                    <h4 class="product-sidebar-widget-title">Categories</h4>
                                    
                                    <div class="dropdown" >
                                            <select id="cat-1" class="btn btn-primary form-control" style="color:white;">
                                                    <option value="">All</option>
                                                    <option value="Beaches">Beaches</option>
                                                    <option value="Bike Rides">Bike Rides</option>
                                                    <option value="Heritage">Heritage</option>
                                                    <option value="Hot Air Ballooning">Hot Air Ballooning</option>
                                                    <option value="Museums">Museums</option>
                                                    <option value="Resorts">Resorts</option>
                                                    <option value="Road Trips">Road Trips</option>
                                                    <option value="Scenery">Scenery</option>
                                                    <option value="Vacation">Vacation</option>
                                                    <option value="Wildlife">Wildlife</option>
                                                  </select>
                                                  
                                                  
                                          </div>
                                </div> -->
                                <!-- <div class="product-sidebar-widget">
                                    <h4 class="product-sidebar-widget-title">Package Size</h4>
                                    
                                    <div class="dropdown" >
                                            <select id="cat-3" class="btn btn-primary form-control" style="color:white;">
                                                    <option value="">All</option>
                                                    <option value="2">Honeymoon</option>
                                                    <option value="">Family & Groups</option>
                                                    </select>{% csrf_token %}
                                                  
                                                  
                                          </div>

                                </div>
                                <div class="product-sidebar-widget">
                                    <h4 class="product-sidebar-widget-title">Price (Ksh)</h4>
                                    
                                    <div class="dropdown" >
                                            <select id="cat-4" class="btn btn-primary form-control" style="color:white;">
                                                    <option value="">All</option>
                                                    <option value="">0 to 4999</option>
                                                    <option value="">5000 to 15000</option>
                                                    <option value="">15000 to 75000</option>
                                                    </select>{% csrf_token %}
                                                  
                                                  
                                          </div>

                                </div> -->
                                <div class="product-sidebar-widget">
                                    <a href="#" class="btn btn-outline-light">Reset Filter</a>
                                    <!-- <a href="/test1" class="btn btn-primary">Preset</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                Copyright © 2019. All rights reserved.</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
        
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}?{% now "U" %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}?{% now "U" %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}?{% now "U" %}"></script>
    <!-- main js -->
    <script src="{% static 'libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="{% static 'vendor/charts/chartist-bundle/chartist.min.js' %}?{% now "U" %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'vendor/charts/sparkline/jquery.sparkline.js' %}?{% now "U" %}"></script>
    <!-- morris js -->
    <script src="{% static 'vendor/charts/morris-bundle/raphael.min.js' %}?{% now "U" %}"></script>
    <script src="{% static 'vendor/charts/morris-bundle/morris.js' %}?{% now "U" %}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'vendor/charts/c3charts/c3.min.js' %}?{% now "U" %}"></script>
    <script src="{% static 'vendor/charts/c3charts/d3-5.4.0.min.js' %}?{% now "U" %}"></script>
    <script src="{% static 'vendor/charts/c3charts/C3chartjs.js' %}?{% now "U" %}"></script>
    <script src="{% static 'libs/js/dashboard-ecommerce.js' %}?{% now "U" %}"></script>

<!-- Custom JS -->
<script src="{% static 'libs/js/ajaxsearch.js' %}?{% now "U" %}"></script>



</body>
 
</html>