{% load staticfiles %}

<style>   
        #navbar {
          /* background-color: #333; */
          position: fixed;
          top: 0;
          width: 100%;
          display: block;
          transition: top 1s ease-in-out;
        }
        
        #navbar a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          /* padding: 15px; */
          /* text-decoration: none; */
          /* font-size: 17px; */
        }
        .header_area {
            padding: 0 0px;
            /* width: 0%; */
}

        </style>


    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                  <!-- <nav class="navbar-fixed-to-top navbar navbar-expand-md navbar-light navbar-laravel">   -->
                    

                        <div id="navbar">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="{% static 'img/core-img/logo.png' %}?{% now "U" %}" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/explore" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" aria-haspopup="true" aria-expanded="false">Packages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact Us</a>
                                </li>
                            </ul>
                            <!-- Search btn -->
                            <div class="dorne-search-btn">
                                <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                            </div>
                            <!-- Signin btn -->
                            <div class="dorne-signin-btn">
                                <a href="/accounts/login" class="btn dorne-btn dorne-btn1">Sign In</a>
                            </div>

                            <!-- Add listings btn -->
                            <div class="dorne-add-listings-btn">
                                <a href="/register" class="btn dorne-btn dorne-btn1">Register</a>
                            </div>
                        </div>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

<!---

<nav class="navbar-fixed-to-top navbar navbar-expand-md navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static '/img/logo.png' %}" height="50px">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar --
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="#">Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li>
                    <a class="nav-link" href="">Customers</a>
                </li>
                <li>
                    <a class="nav-link" href="">Pricing</a>
                </li>
                <li>
                    <a class="nav-link" href="">Resources</a>
                </li>
                <li>
                    <a class="nav-link" href="">About</a>
                </li>

            </ul>

            <!-- Right Side Of Navbar --
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links --
    
                    <li class="nav-item">
                        <a class="nav-link sales-btn" href="/accounts/login/">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link trial-btn" href="/register/">Register</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>-->

<script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-100px";
          }
          prevScrollpos = currentScrollPos;
        }
        </script>